[MASTER]
init-hook='import sys; sys.path.append("."); sys.path.append("apps/")'
load-plugins=pylint_django
ignore=migrations,settings

[MESSAGES CONTROL]
disable=too-many-ancestors,fixme

[BASIC]

good-names=UserModel

[TYPECHECK]

ignored-classes=__proxy__
# __proxy__: ignores translation strings

[REPORTS]

msg-template={symbol}:{line:3d},{column:2d}: {obj}: {msg}
output-format=colorized
reports=yes

[CLASSES]

# exclude-protected=_meta