[MASTER]
init-hook='import sys; sys.path.append("."); sys.path.append("apps/")'
load-plugins=pylint_django
ignore=migrations,settings
ignore-patterns=tests.py

[MESSAGES CONTROL]
disable=
    fixme,
    # SKIP SOME REPORTS
    R0901,
    R0903,
    RP0001,
    RP0002,
    RP0003,
    RP0101,
    RP0401,
    RP0701,
    RP0801

[BASIC]
good-names=
    UserModel,
    router,

[TYPECHECK]

ignored-classes=__proxy__
# __proxy__: ignores translation strings

[REPORTS]
output-format=colorized
reports=yes

[CLASSES]

# exclude-protected=_meta