[MASTER]

ignore=migrations
init-hook='import sys; sys.path.append("apps/")'

[MESSAGES CONTROL]

disable=R0901,R0903
# R0901: Too many ancestors
# R0903: Too few public methods

[BASIC]

good-names=env,urlpatterns
# env        :  Doesn't conform to UPPER_CASE naming style
# urlpatterns:  Doesn't conform to UPPER_CASE naming style

max-line-length=80


[REPORTS]

output-format=colorized

