{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}Login{% endblock %}

{% block content %}
    <div class="content-container medium--top medium--bottom" id="login_register">
        <div class="container">
            <div class="row">
                {% if request.user.is_authenticated %}
                    <p>U bent al ingelogd. Als u met een andere account in wilt loggen, dient u eerst <a href="{% url 'logout' %}">uit te loggen.</a></p>
                {% else %}
                    <div class="col-6 login-form">
                        
                        <h2>Inloggen voor bestaande cursisten</h2>
                        
                        <form method="post" novalidate action="">
                            {% csrf_token %}
                            {{ login_form|crispy }}
                            <button type="submit">Inloggen voor bestaande cursisten</button>
                        </form>
                        
                        <a href="{% url 'password_reset' %}">Wachtwoord vergeten?</a>
                        
                    </div>
                    <div class="col-6 registration-form">
                        
                        <h2>Registreren voor nieuwe cursisten</h2>
                        
                        <form method="post" novalidate action="">
                            {% csrf_token %}
                            {{ registration_form|crispy }}
                            <button type="submit">Registreren voor nieuwe cursisten</button>
                        </form>
                        
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}