{% extends "base_email.html" %}
{% load i18n %}
{% load static %}

{% block email_content %}
    <p>{% trans "Greetings" %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},</p>

    {% blocktrans with site_domain=site.domain %}
    You are receiving this email because you requested that your password be reset on <a href="{{ site_domain }}">{{ site_domain }}</a>.<br>
    If you do not wish to reset your password, please ignore this message.
    {% endblocktrans %}

    <p>{% trans "To reset your password, please click the following link:" %}</p>
    <a href=" {{ site.domain }}{% url 'password_reset_confirm' uid token %}">
        {{ site.domain }}{% url 'password_reset_confirm' uid token %}
    </a>
    <p>{% trans "Your username:" %} {{ user.get_username }}</p>
{% endblock email_content %}
