{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block breadcrumbs_li %}
    <li>{% trans "Confirm password reset" %}</li>
{% endblock breadcrumbs_li %}

{% block content %}
    <h1>{% trans "Confirm password reset" %}</h1>
    {% if validlink %}
    <p>{% trans "Enter your new password below to reset your password:" %}</p>
    <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="{% trans 'Set password' %}" />
    </form>
    {% else %}

    Password reset unsuccessful. Please <a href="{% url 'password_reset' %}">try again.</a>
    {% endif %}
{% endblock content %}